{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin:0">You have <i>{{count}}</i> incomplete task{{count|pluralize:"s"}} </h3>
    </div>
    {% if request.user.is_authenticated %}
    <p>{{request.user}} </p>
    <a href="{% url 'logout' %} ">Logout</a>
    {% else %}
    <a href="{% url 'login' %} ">Login</a>
    {% endif %}    

</div>


<div class="search-add-wrapper">
    <form method="GET" style="margin-top: 20px;display: flex;" >

        <input type="text" name='search-area' value="{{search_input}}">
        <input class="button" type="submit" value="Search">
    </form>
    <a href="{% url 'createtask' %}" id="add-link">&#x2b;</a>
</div>


<div class="items-items-wrapper">
    {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.complete %}
                <div class="task-title">
                    <div class="task-complete-icon">
                        <i><s><a href="{% url 'updatetask' task.id %}">{{task}}</a></s></i>
                    </div>
                </div>
                <a href="{% url 'deletetask' task.id %}" class="delete-link">&#215;</a>
            {% else %}
            <div class="task-title">
                <div class="task-incomplete-icon">
                    <a href="{% url 'updatetask' task.id %}">{{task}}</a>
                </div>
            </div>
            <a href="{% url 'deletetask' task.id %}" class="delete-link">&#215;</a>
            {% endif %}
            
        </div>
    {% empty %}
    <h3>No items in List</h3>
    {% endfor %}
</div>

<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in object_list %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'taskview' task.id %} ">View</a> </td>
        <td><a href="{% url 'updatetask' task.id %} ">Edit</a> </td>
        <td><a href="{% url 'deletetask' task.id %} ">Delete</a> </td>
    </tr>
    {% empty %}
    <h3>No Item in  List</h3>
    {% endfor %}
</table>
{% endblock content %}